<div class="flex h-screen w-screen bg-[#F8FAFC] overflow-hidden font-['Inter'] text-left">
  
  <app-sidebar 
    *ngIf="user" 
    [userName]="user.name" 
    [userRole]="user.role"
    [currentPage]="currentPage"
    (setPage)="handlePageChange($event)"
    (onLogout)="handleLogout()">
  </app-sidebar>

  <main class="flex-1 h-full overflow-y-auto relative bg-[#F8FAFC]">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </main>

  <app-chatbot 
    *ngIf="user"
    (tutoriaCreada)="handleTutoriaCreada()">
  </app-chatbot>

</div>